@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*STYLES FOR SCROLL*/
.scroll-bar {
  position: fixed;
  right: 100px;
  top: 100px;
  z-index: 10; }

.scroll-bar__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.scroll-bar__list li {
  width: 16px;
  height: 16px;
  margin-bottom: 7px; }

.scroll-bar__item {
  display: block;
  padding: 5px;
  margin: 0;
  background-clip: content-box;
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%; }

.scroll-bar__item--active,
.scroll-bar__item:hover {
  border: 1px solid #ffffff;
  padding: 4px; }

/*STYLES FOR 1ST SECTION*/
.first-screen {
  background-color: #000000;
  color: #ffffff;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh; }
  .first-screen__container {
    width: 960px;
    margin: 0 auto;
    padding-top: 10px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.header__menu {
  width: 625px;
  margin-left: 235px; }

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none; }

.header__menu-item {
  font-family: ubuntumedium, sans-serif;
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }

.header__nav li {
  position: relative; }
  .header__nav li::before {
    position: absolute;
    top: 13px;
    left: -20px;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffffff; }
  .header__nav li:first-child::before, .header__nav li:last-child::before {
    display: none; }

.header__menu-item-oder {
  padding: 10px 15px;
  margin-left: -15px;
  background-color: #e45028;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .header__menu-item-oder:hover {
    background-color: #c1401e; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-content__text {
  width: 425px;
  margin-top: 130px;
  margin-left: 40px; }

.main-content__text-first {
  font-family: gagalinregular, sans-serif;
  font-size: 72px;
  color: #f9b43b;
  line-height: 85px;
  display: block;
  margin-bottom: 8px; }

.main-content__text-second {
  font-family: lifehackmedium, sans-serif;
  font-size: 65px;
  line-height: 70px;
  color: #ffffff; }

.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px; }

/*STYLES FOR ADVANTAGES SECTION*/
.advantages {
  min-height: 650px;
  height: 100vh;
  background-color: #f5f2ed;
  background-image: url("../img/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #2f3234; }
  .advantages__container {
    width: 933px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages__title {
    margin: 0;
    padding-top: 70px;
    font-family: gagalinregular, sans-serif;
    font-size: 72px;
    color: #2f3234;
    line-height: 1.3; }
  .advantages__list {
    width: 933px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 75px; }
  .advantages__item {
    width: 292px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages__item-name {
    display: block;
    margin-top: 30px;
    font-family: lifehackmedium;
    font-size: 24px;
    line-height: 28px;
    text-align: center; }
  .advantages__item-description {
    width: 292px;
    font-family: ubuntulight;
    font-size: 14px;
    line-height: 24px;
    text-align: center; }

/*STYLES FOR FEEDBACK SECTION*/
.feedback {
  min-height: 650px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .feedback__item {
    width: 25%;
    min-height: 325px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #ffffff; }
  .feedback__item-content {
    opacity: 0;
    position: absolute;
    content: '';
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-transition: .2s;
    transition: .2s; }
    .feedback__item-content:hover {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
  .feedback__item-name {
    font-family: gagalinregular;
    font-size: 14px;
    line-height: 28px; }
  .feedback__item-text {
    font-family: ubuntulight;
    font-size: 14px;
    line-height: 24px; }
  .feedback__item-more {
    font-family: ubuntumedium;
    font-size: 13px;
    line-height: 30px;
    background-color: #2f3234;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px; }

.feedback__item-1 {
  background-image: url("../img/feedback__item-1.jpg"); }

.feedback__item-2 {
  background-image: url("../img/feedback__item-2.jpg"); }

.feedback__item-3 {
  background-image: url("../img/feedback__item-3.jpg"); }

.feedback__item-4 {
  background-image: url("../img/feedback__item-4.jpg"); }

.feedback__item-5 {
  background-image: url("../img/feedback__item-5.jpg"); }

.feedback__item-6 {
  background-image: url("../img/feedback__item-6.jpg"); }

.feedback__item-7 {
  background-image: url("../img/feedback__item-7.jpg"); }

.feedback__item-8 {
  background-image: url("../img/feedback__item-8.jpg"); }

/*# sourceMappingURL=style.css.map */