/*media*/
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  color: #2f3234;
  line-height: 1.4; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

/*sections*/
.scroll-bar {
  position: fixed;
  right: 100px;
  top: 100px;
  z-index: 3; }
  @media (max-width: 768px) {
    .scroll-bar {
      display: none; } }

.scroll-bar__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.scroll-bar__list li {
  width: 16px;
  height: 16px;
  margin-bottom: 7px; }

.scroll-bar__item {
  display: block;
  padding: 5px;
  margin: 0;
  background-clip: content-box;
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%; }
  .scroll-bar__item_active, .scroll-bar__item:hover {
    border: 1px solid #ffffff;
    padding: 4px; }

.first-screen {
  background-color: #000000;
  color: #ffffff;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh; }
  .first-screen__container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 0.625rem; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.header__logo {
  width: 5.75rem;
  height: 4.3125rem;
  z-index: 30; }

.header__menu {
  width: 39.0625rem;
  max-width: 523px;
  margin-left: auto; }
  @media (max-width: 768px) {
    .header__menu {
      display: none; } }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 1.25rem;
  padding: 0;
  list-style: none; }
  .header__nav li {
    position: relative; }
    .header__nav li::before {
      position: absolute;
      top: 0.8125rem;
      left: -1.25rem;
      content: '';
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 50%;
      background-color: #ffffff; }
    .header__nav li:first-child::before {
      display: none; }

.header__menu-item {
  font-family: ubuntu, sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }
  .header__menu-item:hover {
    text-decoration: underline; }

.header__menu-item-oder {
  padding: 0.625rem 0.9375rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  padding: 0.1875rem 0.9375rem;
  margin-top: 1.0625rem;
  margin-left: 0.9375rem; }
  .header__menu-item-oder:hover {
    background-color: #c13c18;
    text-decoration: none; }
  @media (max-width: 768px) {
    .header__menu-item-oder {
      margin-left: auto; } }

.header__menu-adaptive {
  display: none; }
  @media (max-width: 768px) {
    .header__menu-adaptive {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 1.4375rem;
      width: 1.625rem;
      margin-top: 1.375rem;
      margin-left: 0.9375rem;
      background-image: url("../img/menu-adaptive.svg");
      background-repeat: no-repeat; } }
  @media (max-width: 480px) {
    .header__menu-adaptive {
      width: 2.5rem;
      height: 2.5rem; } }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.main-content__image img {
  width: 28.1875rem;
  height: 26.25rem; }
  @media (max-width: 768px) {
    .main-content__image img {
      width: 26.3125rem;
      height: 24.375rem; } }

.main-content__text {
  max-width: 26.5625rem;
  margin-top: 8.125rem;
  margin-left: 2.5rem; }
  @media (max-width: 768px) {
    .main-content__text {
      text-align: center;
      margin-top: 3.125rem;
      margin-left: 0;
      width: 26.3125rem; } }
  @media (max-width: 480px) {
    .main-content__text {
      margin-left: 0; } }

.main-content__text-first {
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  line-height: 5.3125rem;
  display: block;
  margin-bottom: 0.5rem; }
  @media (max-width: 768px) {
    .main-content__text-first {
      font-size: 4.0625rem; } }

.main-content__text-second {
  font-family: lifehackmedium, sans-serif;
  font-size: 4.0625rem;
  line-height: 4.375rem;
  color: #ffffff; }
  @media (max-width: 768px) {
    .main-content__text-second {
      font-size: 3.5625rem; } }

.scroll-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 5.9375rem; }
  @media (max-width: 768px) {
    .scroll-down {
      margin-top: 5.3125rem;
      padding-bottom: 2.1875rem; } }

.advantages {
  min-height: 100vh;
  background-color: #f5f2ed;
  background-image: url("../img/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #2f3234; }

.advantages__container {
  width: 95%;
  max-width: 933px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.advantages__title {
  margin: 0;
  padding-top: 4.0625rem;
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #2f3234;
  line-height: 1.3; }
  @media (max-width: 768px) {
    .advantages__title {
      font-size: 4.0625rem; } }
  @media (max-width: 480px) {
    .advantages__title {
      padding-top: 4.0625rem; } }

.advantages__list {
  /*width: rem(933px);*/
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 4.6875rem; }
  @media (max-width: 768px) {
    .advantages__list {
      /*width: rem(713px);*/ } }
  @media (max-width: 480px) {
    .advantages__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 4.0625rem;
      padding-bottom: 1.875rem; } }

.advantages__item-img {
  height: 5.8125rem;
  width: 6.5625rem; }

.advantages__item {
  /*width: rem(292px);*/
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .advantages__item-name {
    display: block;
    margin-top: 1.875rem;
    font-family: lifehackmedium;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-align: center; }
    @media (max-width: 480px) {
      .advantages__item-name {
        text-align: left;
        font-size: 1.625rem;
        line-height: 1.875rem; } }
  .advantages__item-description {
    max-width: 18.25rem;
    font-family: ubuntu;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center; }
    @media (max-width: 768px) {
      .advantages__item-description {
        width: 100%; } }
    @media (max-width: 480px) {
      .advantages__item-description {
        text-align: left;
        /*width: rem(324px);*/
        font-size: 1rem;
        line-height: 1.625rem; } }
  @media (max-width: 480px) {
    .advantages__item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%; } }

@media (max-width: 480px) {
  .advantages__wrapper {
    margin-left: 1.625rem; } }

.team {
  min-height: 100vh;
  background-image: url("../img/team-bg.jpg");
  background-size: cover;
  position: relative; }

.team-content {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 50%;
  height: 100%;
  color: #ffffff;
  z-index: 1; }
  @media (max-width: 768px) {
    .team-content {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.team-content__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3234;
  opacity: .9;
  z-index: -1; }

.team-content__title {
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  margin: 0;
  margin-top: 5rem;
  margin-left: 5rem;
  opacity: 1; }
  @media (max-width: 768px) {
    .team-content__title {
      font-size: 4.0625rem; } }
  @media (max-width: 768px) {
    .team-content__title {
      margin-left: 0;
      margin-top: 2.8125rem; } }

.team-content__accordeon {
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  margin-left: 5rem;
  padding-left: 1.25rem; }
  @media (max-width: 768px) {
    .team-content__accordeon {
      text-align: center;
      margin-left: 0;
      margin-top: 3.125rem;
      padding: 0; } }

.team-content__acc-element {
  margin-bottom: 1.5rem;
  list-style: none; }
  .team-content__acc-element_active .team-content__acc-link {
    color: #f9b43b; }
  .team-content__acc-element_active .team-content__member {
    /*min-height: rem(102px);
		overflow: visible;*/ }
    @media (max-width: 768px) {
      .team-content__acc-element_active .team-content__member {
        height: 12rem; } }
    @media (max-width: 480px) {
      .team-content__acc-element_active .team-content__member {
        font-size: 1.0625rem; } }
  .team-content__acc-element_active .team-content__acc-link::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  @media (max-width: 768px) {
    .team-content__acc-element {
      margin-bottom: 1.25rem; } }

.team-content__acc-link {
  position: relative;
  font-family: gagalinregular;
  font-size: 0.875rem;
  line-height: 2;
  color: #ffffff;
  text-decoration: none; }
  .team-content__acc-link::before {
    content: '';
    position: absolute;
    top: 0.3125rem;
    left: -1.25rem;
    width: 0;
    height: 0;
    border: 0.375rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    @media (max-width: 768px) {
      .team-content__acc-link::before {
        top: 0.6875rem;
        left: -1.25rem; } }
  .team-content__acc-link_active {
    color: #f9b43b; }
  @media (max-width: 768px) {
    .team-content__acc-link {
      font-size: 1.5rem; } }

.team-content__member-wrapper {
  height: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.team-content__member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20.9375rem;
  height: 7.5rem;
  /*overflow: hidden;*/
  margin-top: 0.625rem;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.5; }
  .team-content__member_active {
    /*min-height: rem(102px);
		overflow: visible;*/ }
  @media (max-width: 768px) {
    .team-content__member {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1rem;
      height: 12.5rem; } }
  @media (max-width: 480px) {
    .team-content__member {
      height: 13.75rem; } }

.team-content__member-content {
  margin-left: 1.25rem; }
  @media (max-width: 768px) {
    .team-content__member-content {
      margin-left: 0;
      margin-top: 0.3125rem;
      margin-bottom: 0.3125rem; } }

.team-content__member-img {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem; }

.team-content__member-title {
  font-weight: 900; }

.team-content__member-description {
  margin: 0;
  margin-top: 0.9375rem;
  font-weight: 300; }

.menu {
  min-height: 100vh;
  background-image: url("../img/menu-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }

.menu__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 6.25rem;
  padding-left: 5.9375rem;
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #ffffff; }
  @media (max-width: 768px) {
    .menu__title {
      font-size: 4.0625rem; } }

.menu__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5; }

.menu__element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__element-title_meet {
  background-image: url("../img/menu__element-meet.jpg");
  background-size: cover;
  background-position: center; }

.menu__element-title_vegan {
  background-image: url("../img/menu__element-vegan.jpg");
  background-size: cover;
  background-position: center; }

.menu__element-title_diet {
  background-image: url("../img/menu__element-diet.jpg");
  background-size: cover;
  background-position: center; }

.menu__element-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5rem;
  min-height: 100vh; }
  @media (max-width: 768px) {
    .menu__element-title {
      width: 3.75rem; } }
  @media (max-width: 480px) {
    .menu__element-title {
      width: 3.125rem; } }

/*.menu__element_active .menu__description {
	display: block;
}
*/
.menu__link {
  font-family: gagalinregular;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 19.375rem; }
  @media (max-width: 768px) {
    .menu__link {
      font-size: 1.875rem; } }

.menu__description {
  /*display: none;*/
  /*@include section-height;*/
  height: 100vh;
  /*max-width: rem(545px);*/
  margin: 0;
  padding-top: 3.125rem;
  padding-left: 2.1875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2f3234;
  opacity: .9;
  color: #ffffff;
  font-family: ubuntu;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.9; }
  @media (max-width: 768px) {
    .menu__description {
      /*width: auto;*/ } }
  @media (max-width: 480px) {
    .menu__description {
      /*width: auto;*/ } }

.menu__description-wrapper {
  width: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.feedback {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #000000; }

.feedback__item {
  width: 25%;
  /*min-height: rem(325px);*/
  /*height: 50%;*/
  min-height: 50vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff; }
  @media (max-width: 768px) {
    .feedback__item {
      height: 25%;
      width: 50%;
      min-height: 25vh; } }

.feedback__item-content {
  opacity: 0;
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  padding-right: 1.875rem;
  /*padding-bottom: rem(50px);*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .feedback__item-content:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  @media (max-width: 970px) {
    .feedback__item-content {
      padding-top: 0.9375rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem; } }
  @media (max-width: 768px) {
    .feedback__item-content {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      text-align: center; } }
  @media (max-width: 480px) {
    .feedback__item-content {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.feedback__item-name {
  font-family: gagalinregular;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.75rem; }
  @media (max-width: 768px) {
    .feedback__item-name {
      line-height: 1.125rem; } }
  @media (max-width: 480px) {
    .feedback__item-name {
      display: block;
      font-size: 1.5rem;
      line-height: 1.875rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem; } }

.feedback__item-text {
  font-family: ubuntu;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem; }
  @media (max-width: 768px) {
    .feedback__item-text {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      line-height: 1.25rem; } }
  @media (max-width: 480px) {
    .feedback__item-text {
      display: none; } }

.feedback__item-more {
  font-family: ubuntu;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.875rem;
  background-color: #2f3234;
  border-radius: 0.3125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.625rem 0.9375rem; }
  .feedback__item-more:hover {
    background-color: #1e2021; }
  @media (max-width: 768px) {
    .feedback__item-more {
      /*padding: rem(8px) rem(13px);*/
      line-height: 1.5625rem; } }
  @media (max-width: 480px) {
    .feedback__item-more {
      display: none; } }

.feedback__item-more-adaptive {
  display: none;
  font-family: ubuntu;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  background-color: #2f3234;
  border-radius: 0.3125rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.625rem 0.9375rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.125rem; }
  .feedback__item-more-adaptive:hover {
    background-color: #1e2021; }
  @media (max-width: 480px) {
    .feedback__item-more-adaptive {
      display: block; } }

.feedback__item-1 {
  background-image: url("../img/feedback__item-1.jpg");
  background-position: center; }

.feedback__item-2 {
  background-image: url("../img/feedback__item-2.jpg");
  background-position: center; }

.feedback__item-3 {
  background-image: url("../img/feedback__item-3.jpg");
  background-position: center; }

.feedback__item-4 {
  background-image: url("../img/feedback__item-4.jpg");
  background-position: center; }

.feedback__item-5 {
  background-image: url("../img/feedback__item-5.jpg");
  background-position: center; }

.feedback__item-6 {
  background-image: url("../img/feedback__item-6.jpg");
  background-position: center; }

.feedback__item-7 {
  background-image: url("../img/feedback__item-7.jpg");
  background-position: center; }

.feedback__item-8 {
  background-image: url("../img/feedback__item-8.jpg");
  background-position: center; }

.contacts {
  min-height: 100vh;
  position: relative; }

.yandex-map {
  min-height: 100vh;
  background-image: url("../img/contacts-bg.jpg");
  background-size: cover; }

.footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 3.125rem;
      padding-right: 3.125rem; } }
  @media (max-width: 480px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.6; }
  @media (max-width: 480px) {
    .footer__content {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.footer__adress {
  font-weight: 300;
  color: #ffffff; }

.footer__tel {
  padding-left: 1.25rem;
  position: relative;
  font-weight: 900;
  color: #e45028;
  text-decoration: none; }
  .footer__tel::before {
    content: '';
    position: absolute;
    top: 0.3125rem;
    left: 0;
    width: 0.9375rem;
    height: 0.75rem;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center; }

.footer__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 480px) {
    .footer__icons {
      padding-bottom: 0.9375rem; } }

.footer__icon {
  width: 1.5625rem;
  height: 1.25rem; }

.footer__link {
  width: 1.5625rem;
  height: 1.25rem;
  margin-left: 0.9375rem; }
  .footer__link:hover .footer__icon-element {
    fill: #ffffff; }

.footer__icon-element {
  fill: #585858; }

.delivery {
  min-height: 100vh;
  background-image: url("../img/delivery-bg.jpg");
  background-size: cover;
  background-position: center; }

.delivery__container {
  width: 95%;
  max-width: 59.375rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.delivery__title {
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #f9b43b;
  width: 100%;
  margin: 0;
  margin-bottom: 5.9375rem;
  padding-top: 5rem;
  text-align: center; }
  @media (max-width: 768px) {
    .delivery__title {
      font-size: 4.0625rem; } }
  @media (max-width: 768px) {
    .delivery__title {
      margin-bottom: 1.875rem;
      padding-top: 3.125rem; } }
  @media (max-width: 480px) {
    .delivery__title {
      margin-bottom: 1.5625rem;
      padding-top: 2.8125rem; } }

.delivery__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .delivery__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; } }
  @media (max-width: 480px) {
    .delivery__form {
      padding-bottom: 2.5rem; } }

.delivery__form-part {
  width: 29rem;
  margin-right: 1.25rem;
  font-family: ubuntu, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 300; }
  .delivery__form-part:last-child {
    margin-right: 0; }
  @media (max-width: 768px) {
    .delivery__form-part {
      margin-right: 0; } }
  @media (max-width: 480px) {
    .delivery__form-part {
      width: 100%; } }

.delivery__form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.25rem; }
  @media (max-width: 480px) {
    .delivery__form-row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.delivery__form-input {
  width: 100%;
  padding: 0.4375rem;
  height: 2.1875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ubuntu;
  font-size: 1rem;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.25rem; }
  .delivery__form-input_houses {
    max-width: 6.3125rem; }
  .delivery__form-input:focus {
    border: 1px solid #f9b43b; }

.delivery__input-label {
  display: block;
  margin-bottom: 0.4375rem; }

.delivery__input-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem; }
  .delivery__input-block:first-child {
    margin-left: 0; }

.delivery__comment-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.delivery__comment-label {
  display: block;
  margin-bottom: 0.4375rem; }

.delivery__form-comment {
  height: 7.3125rem;
  max-height: 7.3125rem;
  width: 100%;
  padding: 0.4375rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ubuntu;
  font-size: 1rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  outline: none;
  border: none; }
  .delivery__form-comment:focus {
    border: 1px solid #f9b43b; }

.delivery__payment-input {
  display: none; }

.delivery__payment-label {
  position: relative;
  margin-right: 1.25rem;
  padding-left: 1.5625rem; }
  .delivery__payment-label::before, .delivery__payment-label_radio::before {
    position: absolute;
    content: '';
    top: 0.125rem;
    left: 0;
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: #ffffff; }
  .delivery__payment-label_radio::before {
    border-radius: 50%; }

.delivery__payment-input:checked + .delivery__payment-label_box::after {
  position: absolute;
  content: '';
  top: 0.3125rem;
  left: 0.125rem;
  width: 0.6875rem;
  height: 0.5625rem;
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 480px) {
    .delivery__payment-input:checked + .delivery__payment-label_box::after {
      width: 0.75rem;
      height: 0.625rem; } }

.delivery__payment-input:checked + .delivery__payment-label_radio::after {
  position: absolute;
  content: '';
  top: 0.375rem;
  left: 0.25rem;
  width: 0.4375rem;
  height: 0.4375rem;
  background-color: #e45028;
  border-radius: 50%; }

.delivery__order-btn {
  padding: 0.625rem 0.9375rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: none;
  outline: none;
  font-family: ubuntu;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  cursor: pointer; }
  .delivery__order-btn:hover {
    background-color: #c13c18;
    text-decoration: none; }

.delivery__clean-btn {
  margin-left: 1.25rem;
  font-size: 0.875rem;
  font-family: ubuntu;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer; }
  .delivery__clean-btn:hover {
    text-decoration: underline; }

.catalog {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8d38), to(#f9b43b));
  background: -webkit-linear-gradient(#f9b43b, #eb8d38, #f9b43b);
  background: -o-linear-gradient(#f9b43b, #eb8d38, #f9b43b);
  background: linear-gradient(#f9b43b, #eb8d38, #f9b43b);
  position: relative; }

.owl-prev,
.owl-next {
  position: absolute;
  width: 1.8125rem;
  height: 0.875rem;
  background-image: url("../img/arrow-scroll.svg") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  top: 50%;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }
  @media (max-width: 480px) {
    .owl-prev,
    .owl-next {
      top: 45%; } }

.owl-prev {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -10%; }
  @media (max-width: 768px) {
    .owl-prev {
      left: 2%; } }

.owl-next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -10%; }
  @media (max-width: 768px) {
    .owl-next {
      right: 2%; } }

.owl-carousel {
  max-width: 61.25rem; }

.product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0.9375rem; }
  @media (max-width: 768px) {
    .product {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 6.25rem; } }

.product__burger {
  width: 31.5625rem;
  height: 30rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .product__burger {
      height: 28.75rem; } }
  @media (max-width: 480px) {
    .product__burger {
      width: 25rem; } }

.product__info {
  max-width: 26.875rem;
  min-height: 30rem;
  margin-left: 0.9375rem;
  margin-right: 3.125rem; }
  @media (max-width: 768px) {
    .product__info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      text-align: center; } }

.product__info-name {
  margin: 0;
  margin-bottom: 2.1875rem;
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 4.5rem;
  color: #ffffff;
  line-height: 4.875rem;
  font-weight: normal; }
  @media (max-width: 768px) {
    .product__info-name {
      font-size: 4.0625rem; } }

.product__info-description {
  margin: 0;
  margin-bottom: 1.5625rem;
  font-family: ubuntu, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #ffffff; }

.product__info-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.product__info-price {
  font-family: gagalinregular, sans-serif;
  font-size: 1.875rem;
  font-weight: normal;
  color: #e45028; }

.product__info-number {
  font-size: 4.5rem; }

.product__info-order-btn {
  padding: 0.625rem 0.9375rem;
  background-color: #e45028;
  border-radius: 0.3125rem;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-left: 1.875rem;
  padding: 0.1875rem 0.9375rem;
  font-family: ubuntu, sans-serif;
  font-size: 0.8125rem;
  line-height: 1.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }
  .product__info-order-btn:hover {
    background-color: #c13c18;
    text-decoration: none; }

.product__burger-img {
  width: 31.5625rem;
  height: 20.5625rem; }
  @media (max-width: 480px) {
    .product__burger-img {
      width: 25rem;
      height: 15.625rem; } }

.composition {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 5.625rem;
  height: 5.625rem;
  background-color: #f08c33;
  border-radius: 0.25rem;
  background-image: url("../img/burger.svg");
  background-position: center 0.875rem;
  background-repeat: no-repeat;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .composition:hover {
    background-color: #e45028; }
  .composition:hover .composition__ingredients {
    display: block; }

.composition__name {
  margin-bottom: 0.3125rem;
  font-family: gagalinregular;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #ffffff; }
  @media (max-width: 480px) {
    .composition__name {
      margin-bottom: 0; } }

.composition__ingredients {
  display: none;
  position: absolute;
  top: 0;
  left: 5.625rem;
  width: 16.875rem;
  padding-top: 1.875rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.25rem;
  font-family: ubuntu, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #2f3234; }

.composition__ingredients-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.composition__ingredients-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 1.875rem;
  padding-left: 4.375rem; }
  .composition__ingredients-item::before {
    position: absolute;
    top: -50%;
    left: 0;
    content: '';
    width: 3rem;
    height: 2.6875rem; }
    @media (max-width: 480px) {
      .composition__ingredients-item::before {
        width: 3.3125rem;
        height: 3rem; } }

.composition__ingredients-item_beef::before {
  background-image: url("../img/beef.svg");
  background-position: center;
  background-repeat: no-repeat; }

.composition__ingredients-item_buns::before {
  background-image: url("../img/buns.svg");
  background-position: center;
  background-repeat: no-repeat; }

.composition__ingredients-item_salad::before {
  background-image: url("../img/salad.svg");
  background-position: center;
  background-repeat: no-repeat; }

.composition__ingredients-item_sauce::before {
  background-image: url("../img/sauce.svg");
  background-position: center;
  background-repeat: no-repeat; }

.composition__ingredients-item_cucumber::before {
  background-image: url("../img/cucumber.svg");
  background-position: center;
  background-repeat: no-repeat; }

.composition__ingredients-item_cheese::before {
  background-image: url("../img/cheese.svg");
  background-position: center;
  background-repeat: no-repeat; }

.composition__ingredients-name {
  font-weight: 700; }

.composition__ingredients-weight {
  margin-left: auto;
  font-weight: 300;
  text-align: right; }

.product__kkal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4.0625rem;
  height: 5.4375rem;
  background-image: url("../img/kkal.svg");
  background-repeat: no-repeat;
  background-position: center;
  font-family: gagalinregular, sans-serif;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: normal;
  opacity: .5; }
  @media (max-width: 768px) {
    .product__kkal {
      top: 0;
      right: 0;
      left: auto; } }
  @media (max-width: 480px) {
    .product__kkal {
      width: 4.5rem; } }

.product__kkal-number {
  margin-top: 2.9375rem;
  font-size: 1.25rem; }

.product__kkal-name {
  margin-top: 0.3125rem; }
  @media (max-width: 768px) {
    .product__kkal-name {
      margin-top: 0.625rem; } }

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2f3234;
  z-index: 20;
  display: none; }

.mobile-menu__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.mobile-menu__list {
  margin: 0;
  padding: 0;
  text-align: center; }

.mobile-menu__list-item {
  margin-bottom: 0.8125rem;
  padding-bottom: 1.6875rem;
  position: relative; }
  .mobile-menu__list-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 50%;
    background-color: #ffffff; }
  .mobile-menu__list-item:last-child::before {
    display: none; }

.mobile-menu__list-link {
  font-family: ubuntu;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase; }

.mobile-menu__btn {
  position: absolute;
  top: 2rem;
  right: 2.1875rem;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  outline: none;
  background-color: transparent; }
  .mobile-menu__btn::before, .mobile-menu__btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5625rem;
    width: 1.3125rem;
    height: 0.1875rem;
    border-radius: 1px;
    background-color: #c1c2c2;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .mobile-menu__btn::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.modal-feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.9);
  z-index: 60;
  display: none; }

.modal-feedback__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.modal-feedback-content {
  position: relative;
  max-width: 29.6875rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1.375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 2.5rem;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 0.875rem; }
  @media (max-width: 768px) {
    .modal-feedback-content {
      max-width: 25rem;
      padding-top: 1.25rem;
      padding-left: 1.125rem;
      padding-right: 1.125rem;
      padding-bottom: 1.875rem; } }
  @media (max-width: 480px) {
    .modal-feedback-content {
      max-width: 23.75rem;
      padding-top: 0.9375rem;
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
      padding-bottom: 1.25rem; } }

.modal-feedback-content__name {
  font-family: gagalinregular;
  color: #2f3234;
  line-height: 1.75rem; }

.modal-feedback-content__text {
  margin: 0;
  padding-top: 1.25rem;
  font-family: ubuntu;
  font-weight: 300;
  line-height: 1.5rem; }

.modal-feedback-content__btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer; }
  .modal-feedback-content__btn::before, .modal-feedback-content__btn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0.5625rem;
    width: 1.3125rem;
    height: 0.1875rem;
    border-radius: 1px;
    background-color: #ec8468;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .modal-feedback-content__btn::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  @media (max-width: 768px) {
    .modal-feedback-content__btn {
      top: 1.25rem;
      right: 1.125rem; } }
  @media (max-width: 480px) {
    .modal-feedback-content__btn {
      top: 0.9375rem;
      right: 0.9375rem; } }
