@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  color: #2f3234;
  line-height: 1.4; }

/*sections*/
.scroll-bar {
  position: fixed;
  right: 100px;
  top: 100px;
  z-index: 10; }

.scroll-bar__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.scroll-bar__list li {
  width: 16px;
  height: 16px;
  margin-bottom: 7px; }

.scroll-bar__item {
  display: block;
  padding: 5px;
  margin: 0;
  background-clip: content-box;
  background-color: #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%; }
  .scroll-bar__item--active, .scroll-bar__item:hover {
    border: 1px solid #ffffff;
    padding: 4px; }

.first-screen {
  background-color: #000000;
  color: #ffffff;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  height: 100vh; }
  .first-screen__container {
    width: 960px;
    margin: 0 auto;
    padding-top: 10px; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.header__menu {
  width: 625px;
  margin-left: 235px; }

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style: none; }
  .header__nav li {
    position: relative; }
    .header__nav li::before {
      position: absolute;
      top: 13px;
      left: -20px;
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #ffffff; }
    .header__nav li:first-child::before, .header__nav li:last-child::before {
      display: none; }

.header__menu-item {
  font-family: ubuntu, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }
  .header__menu-item:hover {
    text-decoration: underline; }

.header__menu-item-oder {
  padding: 10px 15px;
  background-color: #e45028;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-left: -15px; }
  .header__menu-item-oder:hover {
    background-color: #c13c18;
    text-decoration: none; }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main-content__text {
  width: 425px;
  margin-top: 130px;
  margin-left: 40px; }

.main-content__text-first {
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 72px;
  color: #f9b43b;
  line-height: 85px;
  display: block;
  margin-bottom: 8px; }

.main-content__text-second {
  font-family: lifehackmedium, sans-serif;
  font-size: 65px;
  line-height: 70px;
  color: #ffffff; }

.scroll-down {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 95px; }

.advantages {
  min-height: 650px;
  height: 100vh;
  background-color: #f5f2ed;
  background-image: url("../img/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #2f3234; }

.advantages__container {
  width: 933px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.advantages__title {
  margin: 0;
  padding-top: 70px;
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 72px;
  color: #2f3234;
  line-height: 1.3; }

.advantages__list {
  width: 933px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 75px; }

.advantages__item {
  width: 292px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .advantages__item-name {
    display: block;
    margin-top: 30px;
    font-family: lifehackmedium;
    font-size: 24px;
    line-height: 28px;
    text-align: center; }
  .advantages__item-description {
    width: 292px;
    font-family: ubuntu;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: center; }

.team {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/team-bg.jpg");
  background-size: cover;
  position: relative; }

.team-content {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 650px;
  height: 100vh;
  width: 50%;
  background-color: #2f3234;
  opacity: .9;
  color: #ffffff; }

.team-content__title {
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 72px;
  color: #f9b43b;
  margin: 0;
  margin-top: 80px;
  margin-left: 80px; }

.team-content__accordeon {
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-left: 80px;
  padding-left: 20px; }

.team-content__acc-element {
  margin-bottom: 24px;
  list-style: none;
  position: relative; }
  .team-content__acc-element::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -20px;
    width: 9px;
    height: 6px;
    background-image: url("../img/polygon.svg"); }
  .team-content__acc-element--active .team-content__acc-link {
    color: #f9b43b; }
  .team-content__acc-element--active .team-content__member {
    height: 102px;
    overflow: visible; }
  .team-content__acc-element--active::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.team-content__acc-link {
  font-family: gagalinregular;
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
  text-decoration: none; }
  .team-content__acc-link--active {
    color: #f9b43b; }

.team-content__member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 335px;
  height: 0;
  overflow: hidden;
  margin-top: 10px;
  font-family: ubuntu;
  font-size: 14px;
  line-height: 1.5; }
  .team-content__member--active {
    height: 102px;
    overflow: visible; }

.team-content__member-content {
  margin-left: 20px; }

.team-content__member-img {
  border-radius: 50%; }

.team-content__member-title {
  font-weight: 900; }

.team-content__member-description {
  margin: 0;
  margin-top: 15px;
  font-weight: 300; }

.menu {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/menu-bg.jpg");
  background-size: cover;
  position: relative; }

.menu__title {
  margin: 0;
  padding-top: 100px;
  padding-left: 95px;
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 72px;
  color: #ffffff; }

.menu__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  list-style: none; }

.menu__element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  min-height: 650px;
  height: 100vh; }
  .menu__element--active + .menu__description {
    display: block; }

.menu__element-meet {
  background-image: url("../img/menu__element-meet.jpg");
  background-size: cover;
  background-position: center; }

.menu__element-vegan {
  background-image: url("../img/menu__element-vegan.jpg");
  background-size: cover;
  background-position: center; }

.menu__element-diet {
  background-image: url("../img/menu__element-diet.jpg");
  background-size: cover;
  background-position: center; }

.menu__link {
  font-family: gagalinregular;
  font-size: 40px;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  max-height: 60px;
  width: 310px; }

.menu__description {
  display: none;
  min-height: 650px;
  height: 100vh;
  width: 545px;
  margin: 0;
  padding-top: 50px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2f3234;
  opacity: .9;
  color: #ffffff;
  font-family: ubuntu;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.9; }

.feedback {
  min-height: 650px;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.feedback__item {
  width: 25%;
  min-height: 325px;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff; }

.feedback__item-content {
  opacity: 0;
  position: absolute;
  content: '';
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .feedback__item-content:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.feedback__item-name {
  font-family: gagalinregular;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px; }

.feedback__item-text {
  font-family: ubuntu;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px; }

.feedback__item-more {
  font-family: ubuntu;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  background-color: #2f3234;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px; }
  .feedback__item-more:hover {
    background-color: #1e2021; }

.feedback__item-1 {
  background-image: url("../img/feedback__item-1.jpg"); }

.feedback__item-2 {
  background-image: url("../img/feedback__item-2.jpg"); }

.feedback__item-3 {
  background-image: url("../img/feedback__item-3.jpg"); }

.feedback__item-4 {
  background-image: url("../img/feedback__item-4.jpg"); }

.feedback__item-5 {
  background-image: url("../img/feedback__item-5.jpg"); }

.feedback__item-6 {
  background-image: url("../img/feedback__item-6.jpg"); }

.feedback__item-7 {
  background-image: url("../img/feedback__item-7.jpg"); }

.feedback__item-8 {
  background-image: url("../img/feedback__item-8.jpg"); }

.contacts {
  min-height: 650px;
  height: 100vh;
  position: relative; }

.yandex-map {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/contacts-bg.jpg");
  background-size: cover; }

.contacts__footer {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contacts__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: ubuntu;
  font-size: 14px;
  line-height: 1.6; }

.contacts__adress {
  font-weight: 300;
  color: #ffffff; }

.contacts__tel {
  padding-left: 20px;
  position: relative;
  font-weight: 900;
  color: #e45028; }
  .contacts__tel::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 12px;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: center; }

.contacts__icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.contacts__icon {
  width: 25px;
  height: 20px;
  margin-left: 15px; }

.contacts__icon-element {
  fill: #585858; }
  .contacts__icon-element:hover {
    fill: #ffffff; }

.delivery {
  min-height: 650px;
  height: 100vh;
  background-image: url("../img/delivery-bg.jpg");
  background-size: cover;
  background-position: center; }

.delivery__container {
  width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.delivery__title {
  font-family: gagalinregular, sans-serif;
  font-weight: normal;
  font-size: 72px;
  color: #f9b43b;
  width: 100%;
  margin: 0;
  margin-bottom: 95px;
  padding-top: 80px;
  text-align: center; }

.delivery__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.delivery__form-part {
  width: 464px;
  margin-right: 20px;
  font-family: ubuntu, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  font-weight: 300; }
  .delivery__form-part:last-child {
    margin-right: 0; }

.delivery__form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px; }

.delivery__form-input {
  width: 100%;
  padding: 7px;
  height: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ubuntu;
  font-size: 16px;
  background-color: #ffffff;
  outline: none;
  border: none;
  border-radius: 4px; }
  .delivery__form-input_houses {
    max-width: 101px; }

.delivery__input-label {
  display: block;
  margin-bottom: 7px; }

.delivery__input-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px; }
  .delivery__input-block:first-child {
    margin-left: 0; }

.delivery__comment-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.delivery__comment-label {
  display: block;
  margin-bottom: 7px; }

.delivery__form-comment {
  height: 117px;
  max-height: 117px;
  width: 100%;
  padding: 7px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: ubuntu;
  font-size: 16px;
  background-color: #ffffff;
  border-radius: 4px;
  outline: none;
  border: none; }

.delivery__order-btn {
  padding: 10px 15px;
  background-color: #e45028;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: none;
  outline: none;
  font-family: ubuntu;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer; }
  .delivery__order-btn:hover {
    background-color: #c13c18;
    text-decoration: none; }

.delivery__clean-btn {
  margin-left: 20px;
  color: #ffffff;
  text-decoration: none; }
  .delivery__clean-btn:hover {
    text-decoration: underline; }
