.advantages {
	@include section-height;
	background-color: #f5f2ed;
	background-image: url("../img/advantages-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: $dark;
}
.advantages__container {
	width: 95%;
	max-width: 933px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.advantages__title {
	margin: 0;
	padding-top: rem(65px);
	
	@include title($dark);
	line-height: 1.3;

	@include mobile {
		padding-top: rem(65px);
	}
}
.advantages__list {
	/*width: rem(933px);*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: rem(75px);

	@include tablet {
		/*width: rem(713px);*/
	}

	@include mobile {
		flex-direction: column;
		margin-top: rem(65px);
		padding-bottom: rem(30px);
	}
}
.advantages__item-img { 
	height: rem(93px);
	width: rem(105px);
}
.advantages__item {
	/*width: rem(292px);*/
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&-name {
		display: block;
		margin-top: rem(30px);

		font-family: lifehackmedium;
		font-size: rem(24px);
		line-height: rem(28px);
		text-align: center;

		@include mobile {
			text-align: left;
			font-size: rem(26px);
			line-height: rem(30px);
		}
	}
	&-description {
		width: rem(292px);
		font-family: ubuntu;
		font-weight: 300;
		font-size: rem(14px);
		line-height: rem(24px);
		text-align: center;

		@include tablet {
			width: 100%;
		}

		@include mobile {
			text-align: left;
			/*width: rem(324px);*/
			font-size: rem(16px);
			line-height: rem(26px);
		}
	}

	@include mobile {
		flex-direction: row;
		width: 100%;
	}
}
.advantages__wrapper {
	 

	@include mobile {
		margin-left: rem(26px);
	}
}