.contacts {
	@include section-height;
	position: relative;
}
.yandex-map {
	@include section-height;
	background-image: url("../img/contacts-bg.jpg");
	background-size: cover;
}
.contacts__footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	width: 100%;
	padding-left: 80px;
	padding-right: 80px;
	box-sizing: border-box;
}
.contacts__content {
	display: flex;
	flex-direction: column;
	padding-top: 8px;
	padding-bottom: 8px;

	font-family: ubuntu;
	font-size: 14px;
	line-height: 1.6;
}
.contacts__adress {
	font-weight: 300;
	color: #ffffff;
}
.contacts__tel {
	padding-left: 20px;
	position: relative;

	font-weight: 900;
	color: $red;

	&::before {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		width: 15px;
		height: 12px;
		background-image: url("../img/phone.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}
.contacts__icons {
	display: flex;
	align-items: center;
} 
.contacts__icon {
	width: 25px;
	height: 20px;
	margin-left: 15px;
}
.contacts__icon-element {
	fill: #585858;

	&:hover {
		fill: #ffffff;
	}

}
	