.contacts {
	@include section-height;
	position: relative;
}
.yandex-map {
	@include section-height;
	background-image: url("../img/contacts-bg.jpg");
	background-size: cover;
}
.contacts__footer {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	width: 100%;
	padding-left: rem(80px);
	padding-right: rem(80px);
	box-sizing: border-box;

	@include tablet {
		padding-left: rem(50px);
		padding-right: rem(50px);
	}

	@include mobile {
		flex-direction: column;
	}
}
.contacts__content {
	display: flex;
	flex-direction: column;
	padding-top: rem(8px);
	padding-bottom: rem(8px);

	font-family: ubuntu;
	font-size: rem(14px);
	line-height: 1.6;

	@include mobile {
		align-items: center;
	}
}
.contacts__adress {
	font-weight: 300;
	color: #ffffff;
}
.contacts__tel {
	padding-left: rem(20px);
	position: relative;

	font-weight: 900;
	color: $red;

	&::before {
		content: '';
		position: absolute;
		top: rem(5px);
		left: 0;
		width: rem(15px);
		height: rem(12px);
		background-image: url("../img/phone.svg");
		background-repeat: no-repeat;
		background-position: center;
	}
}
.contacts__icons {
	display: flex;
	align-items: center;

	@include mobile {
		padding-bottom: rem(15px);
	}
} 
.contacts__icon {
	width: rem(25px);
	height: rem(20px);
	margin-left: rem(15px);
}
.contacts__icon-element {
	fill: #585858;

	&:hover {
		fill: #ffffff;
	}

}
	