.delivery {
	@include section-height;
	background-image: url("../img/delivery-bg.jpg");
	background-size: cover;
	background-position: center;
}
.delivery__container {
	width: 95%;
	max-width: rem(950px);
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.delivery__title {
	@include title($orange);
	width: 100%;
	margin: 0;
	margin-bottom: rem(95px);
	padding-top: rem(80px);
	text-align: center;
}
.delivery__form {
	display: flex;
}
.delivery__form-part {
	width: rem(464px);
	margin-right: rem(20px);

	font-family: ubuntu, sans-serif;
	font-size: rem(14px);
	line-height: 1.5;
	color: #ffffff;
	font-weight: 300;

	&:last-child {
		margin-right: 0;
	}
}
.delivery__form-row {
	display: flex;
	align-items: center;
	margin-bottom: rem(20px);
}
.delivery__form-input {
	width: 100%;
	padding: rem(7px);
	height: rem(35px);
	box-sizing: border-box;
	font-family: ubuntu;
	font-size: rem(16px);
	background-color: #ffffff;
	outline: none;
	border: none;
	border-radius: rem(4px);

	&_houses {
		max-width: rem(101px);
	}
}
.delivery__input-label {
	display: block;
	margin-bottom: rem(7px);
}
.delivery__input-block {
	flex: 1;
	margin-left: rem(20px);

	&:first-child {
		margin-left: 0;
	}
}
.delivery__comment-block {
	flex: 1;
}
.delivery__comment-label {
	display: block;
	margin-bottom: rem(7px);
}
.delivery__form-comment {
	height: rem(117px);
	max-height: rem(117px);
	width: 100%;
	padding: rem(7px);
	box-sizing: border-box;

	font-family: ubuntu;
	font-size: rem(16px);
	background-color: #ffffff;
	border-radius: rem(4px);
	outline: none;
	border: none;
}
.delivery__payment-input {
	display: none;
}
.delivery__payment-label {
	position: relative;
	margin-right: rem(20px);
	padding-left: rem(25px);

	&::before {
		position: absolute;
		content: '';
		top: rem(2px);
		left: 0;
		width: rem(15px);
		height: rem(15px);
		background-color: #ffffff;
	}
	&_radio::before {
		@extend .delivery__payment-label::before;
		border-radius: 50%;
	}
} 
.delivery__payment-input:checked + .delivery__payment-label_box::after {
	position: absolute;
	content: '';
	top: rem(5px);
	left: rem(2px);
	width: rem(11px);
	height: rem(9px);
	background-image: url("../img/checked.png");
	background-repeat: no-repeat;
	background-position: center;
}
.delivery__payment-input:checked + .delivery__payment-label_radio::after {
	position: absolute;
	content: '';
	top: rem(6px);
	left: rem(4px);
	width: rem(7px);
	height: rem(7px);
	background-color: $red;
	border-radius: 50%;
}

.delivery__order-btn {
	@include order-btn;
	border: none;
	outline: none;
	font-family: ubuntu;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	font-size: rem(13px);
	cursor: pointer;
}
.delivery__clean-btn {
	margin-left: rem(20px);
	color: #ffffff;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
