.menu {
	@include section-height;
	background-image: url("../img/menu-bg.jpg");
	background-size: cover;

	display: flex;
	justify-content: flex-end;
	position: relative;
}
.menu__title {
	position: absolute;
	top: 0;
	left: 0;

	margin: 0;
	padding-top: rem(100px);
	padding-left: rem(95px);
	@include title(#ffffff);
}
.menu__content {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 5;
}
.menu__element {
	display: flex;
} 
@each $type in (meet, vegan, diet) {
	.menu__element-title_#{$type} {
		background-image: url("../img/menu__element-#{$type}.jpg");
		background-size: cover;
		background-position: center;
	}
}
.menu__element-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: rem(80px);
	@include section-height;

	@include tablet {
		width: rem(60px);
	}
	@include mobile {
		width: rem(50px);
	}
}
/*.menu__element_active .menu__description {
	display: block;
}
*/
.menu__link {
	font-family: gagalinregular;
	font-size: rem(40px);
	line-height: 1.5;
	color: #ffffff;
	text-decoration: none;

	transform-origin: center;
	transform: rotate(-90deg);
	width: rem(310px);

	@include tablet {
		font-size: rem(30px);
	}
}
.menu__description {
	/*display: none;*/

	/*@include section-height;*/
	height: 100vh;
	width: rem(545px);
	margin: 0;
	padding-top: rem(50px);
	padding-left: rem(35px);
	box-sizing: border-box;

	background-color: $dark;
	opacity: .9;
	color: #ffffff;

	font-family: ubuntu;
	font-weight: 300;
	font-size: rem(14px);
	line-height: 1.9;

	@media (max-width: 850px)  {
		width: auto;
	}
	@include mobile {
		width: auto;
	}
}
.menu__description-wrapper {
	width: 0;
	overflow: hidden;
	transition: .3s;
}