.menu {
	@include section-height;
	background-image: url("../img/menu-bg.jpg");
	background-size: cover;

	position: relative;
}
.menu__title {
	margin: 0;
	padding-top: 100px;
	padding-left: 95px;
	@include title(#ffffff);
}
.menu__content {
	display: flex;
	margin: 0;
	padding: 0;

	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
}
.menu__element {
	display: flex;
} 
@each $type in (meet, vegan, diet) {
	.menu__element-title_#{$type} {
		background-image: url("../img/menu__element-#{$type}.jpg");
		background-size: cover;
		background-position: center;
	}
}
.menu__element-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80px;
	@include section-height;
}
.menu__element_active .menu__description {
	display: block;
}

.menu__link {
	font-family: gagalinregular;
	font-size: 40px;
	line-height: 1.5;
	color: #ffffff;
	text-decoration: none;

	transform-origin: center;
	transform: rotate(-90deg);
	width: 310px;
}
.menu__description {
	display: none;

	@include section-height;
	width: 545px;
	margin: 0;
	padding-top: 50px;
	padding-left: 35px;
	box-sizing: border-box;

	background-color: $dark;
	opacity: .9;
	color: #ffffff;

	font-family: ubuntu;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.9;
}