.scroll-bar {
	position: fixed;
	right: 100px;
	top: 100px;

	z-index: 3;
}
.scroll-bar__list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.scroll-bar__list li {
	width: 16px;
	height: 16px;
	margin-bottom: 7px;
}
.scroll-bar__item {
	display: block;
	padding: 5px;
	margin: 0;
	background-clip: content-box;

	background-color: #ffffff;
	width: 6px;
	height: 6px;
	border-radius: 50%;

	&_active,
	&:hover {
		border: 1px solid #ffffff;
		padding: 4px;
	}
}