.team {
	@include section-height;
	background-image: url("../img/team-bg.jpg");
	background-size: cover;

	position: relative;
}
.team-content {
	position: absolute;
	right: 0;
	top: 0;
	@include section-height;
	width: 50%;
	color: #ffffff;

	z-index: 1;
}
.team-content__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $dark;
	opacity: .9;

	z-index: -1;
}
.team-content__title {
	@include title($orange);
	margin: 0;
	@include team-margins;
	opacity: 1;
}
.team-content__accordeon {
	margin: 0;
	padding: 0;
	@include team-margins;
	padding-left: rem(20px);
}
.team-content__acc-element {
	margin-bottom: rem(24px);
	list-style: none;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: rem(11px);
		left: rem(-20px);
		width: 0;
		height: 0;
		border: rem(6px) solid transparent;
		border-top-color: $orange;
		border-bottom: 0;
	}


	&_active .team-content__acc-link {
		color: $orange;
	}

	&_active .team-content__member { 
		height: rem(102px);
		overflow: visible;
	}
	&_active::before {
		transform: rotate(180deg);
	}
}
.team-content__acc-link {
	font-family: gagalinregular;
	font-size: rem(14px);
	line-height: 2;
	color: #ffffff;
	text-decoration: none;

	&_active {
		color: $orange;
	}
}
.team-content__member {
	display: flex;
	width: rem(335px);
	height: 0;
	overflow: hidden;
	margin-top: rem(10px);


	font-family: ubuntu;
	font-size: rem(14px);
	line-height: 1.5;

	&_active {
		height: rem(102px);
		overflow: visible;
	}
}
.team-content__member-content {
	margin-left: rem(20px);
}
.team-content__member-img {
	border-radius: 50%;
	width: rem(100px);
	height: rem(100px);
}
.team-content__member-title {
	font-weight: 900;
}
.team-content__member-description {
	margin: 0;
	margin-top: rem(15px);
	font-weight: 300;
}