@mixin section-height {
	min-height: 650px;
	height: 100vh;
}
@mixin title($title-color) {
	font-family: gagalinregular, sans-serif;
	font-weight: normal;
	font-size: 72px;
	color: $title-color;
}
@mixin order-btn {
	padding: rem(10px) rem(15px);
	background-color: $red;
	border-radius: rem(5px);
	transition: 0.2s;

	&:hover {
		background-color: darken($red, 10%);
		text-decoration: none;
	};
}
@mixin team-margins {
	margin-top: rem(80px);
	margin-left: rem(80px);
}